* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors*/
    --header-backround-clr: #202020;
    --main-background-clr: #181818;
    --accent-clr: #ff0000;
    --heading-text-clr: #F2F2F2;;
    --secondary-text-clr: #A5AAAA;
    --icon-text-clr: #FFFFFF;
    --search-btn-clr: #313131;
    --scrollbar-clr: #555555;
    --input-background-clr: #121212;
    --sidebar-background-clr: #383838;

    /* typography */;
    --light-weight: 100;
    --reg-weight: 400;
    --bold-weight: 700;
    --logo-font: 'Pathway Gothic One', sans-serif;
    --main-font: 'Roboto', sans-serif;
}
body {
    font-family: var(--main-font);
}

/* global styles */
a{
    color: var(--icon-text-clr);
    text-decoration: none;
    /* font-family: var(--main-font); */
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: var(--main-background-clr);
  border-radius: border-radius
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-clr);
  border-radius: 10px;
}

/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 1.1rem 1.3rem; 
    background-color: var(--header-backround-clr);
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--heading-text-clr);
    /* justify-content: space-between; */
}

.left,
.middle,
.right {
    display: flex;
    align-items: center;
    flex: 1;
    /* border: 2px solid orange; */
}

.middle input{
    flex-grow: 1;
    padding: 0.7rem;
    background-color: var(--input-background-clr);
    border: none;
}

::-webkit-input-placeholder{
    font-size: 1rem;
}

.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}


.search-btn{
    padding: 0.56rem 1.4rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}


.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}

.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}


.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.56rem 1.3rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
}



.search-btn{
    padding: 0.58rem 1.4rem;
    font-size: 1rem;
    background: var(--search-btn-clr);
    border: none;
    color: var(--secondary-text-clr);
    font-weight: var(--light-weight);
    margin-right: 0.5rem;
    cursor: pointer;
}

.right{
    justify-content: flex-end;
    gap: 2rem;
}

.round,
.round-lrg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-background-clr);
}

.round-lrg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
}

.profile {
    width: 100%;
    cursor: pointer;
    -o-object-fit: cover;
       object-fit: cover;
}

.hamburger {
    margin-right: 1.3rem;
    cursor: pointer;
    background: transparent;
}

.hamburger:hover{
    background: var(--main-background-clr);
}

.line{
    display: block;
    width: 1.2rem;
    height: 1px;
    background: var(--icon-text-clr);
}

.line::after,
.line::before{
    content: '';
    position: absolute;
    width: 1.2rem;
    height: 1px;
    background: var(--icon-text-clr);
}

.line::after{
    transform: translateY(-6px);
}

.line::before{
    transform: translateY(6px);
}

.youtube {
    font-weight: var(--bold-weight);
    font-size: 1.3rem;
    font-family: var(--logo-font);
    margin-left: 4px;
    cursor: pointer;
}

.youtube:hover::after{
    content: 'YouTube Home';
    position: absolute;
    transform: translate(-15px, 30px);
    padding: 0.6rem;
    font-family: var(--main-font);
    background: var(--header-backround-clr);
    font-size: 0.7rem;
    border: 1px solid var(--secondary-text-clr);
    font-weight: lighter;
}

.fa-youtube{
    color: var(--accent-clr);
}

.left .icons{
    font-size: 1.5rem;
}

.icons {
    cursor: pointer;
}

.logo{
    display: flex;
}

/* sidebar */
.sidebar {
    /* position: fixed;
    top: 60px;
    left: 0; */
    padding-left: 1.3rem;
    width: 235px;
    min-height: 100vh;
    background: var(--sidebar-background-clr);
    color: var(--icon-text-clr);
    border: 2px solid yellow;
}

.top {
    border: 1px solid red;
}

.link{
    display: flex;
}